Node-RED/2017/matrix/matrix.json
[{"id":"a5978732.f5de88","type":"inject","z":"dc80bfd3.1860f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":120,"wires":[["35ca9708.52ae38"]]},{"id":"35ca9708.52ae38","type":"function","z":"dc80bfd3.1860f","name":"初期化","func":"// 総合回数の設定\nmsg.n = 15;\n\n// カウント数\nmsg.count = 0;\n\n//斜め回数\nmsg.diagonal = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["8160c84f.232628"]]},{"id":"8160c84f.232628","type":"switch","z":"dc80bfd3.1860f","name":"break判定","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"n","vt":"msg"},{"t":"else"}],"checkall":"true","outputs":2,"x":160,"y":200,"wires":[["e4f8c4bd.c1a9d8"],[]]},{"id":"e4f8c4bd.c1a9d8","type":"function","z":"dc80bfd3.1860f","name":"右下がり初期化","func":"msg.x = 0;\nmsg.y = msg.diagonal;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["7e4d225e.b3f56c"]]},{"id":"a96b5aac.caccd8","type":"function","z":"dc80bfd3.1860f","name":"右下がり移動","func":"msg.x++;\nmsg.y--;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["7e4d225e.b3f56c"]]},{"id":"a5ba70f9.2f3b8","type":"debug","z":"dc80bfd3.1860f","name":"","active":true,"console":"false","complete":"cordinate","x":920,"y":380,"wires":[]},{"id":"af144b9.beb03b8","type":"function","z":"dc80bfd3.1860f","name":"左上がり初期化","func":"msg.x = msg.diagonal+1;\nmsg.y = 0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["65b9c547.69886c"]]},{"id":"3a6ce1d.a56a21e","type":"function","z":"dc80bfd3.1860f","name":"左上がり移動","func":"msg.x--;\nmsg.y++;\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":740,"wires":[["65b9c547.69886c"]]},{"id":"159750ce.84bc0f","type":"debug","z":"dc80bfd3.1860f","name":"","active":true,"console":"false","complete":"cordinate","x":940,"y":660,"wires":[]},{"id":"26bc5524.0c71ca","type":"function","z":"dc80bfd3.1860f","name":"斜め回数カウントアップ","func":"msg.diagonal += 2;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":820,"wires":[["8160c84f.232628"]]},{"id":"b8e8c1ea.36998","type":"function","z":"dc80bfd3.1860f","name":"出力文字列生成","func":"msg.cordinate = `${++msg.count} (${msg.x},${msg.y})`;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["a5ba70f9.2f3b8","a96b5aac.caccd8"]]},{"id":"7e4d225e.b3f56c","type":"function","z":"dc80bfd3.1860f","name":"右下がりbreak判定","func":"if (msg.y >= 0 && msg.count < msg.n) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":450,"y":380,"wires":[["b8e8c1ea.36998"],["af144b9.beb03b8"]]},{"id":"65b9c547.69886c","type":"function","z":"dc80bfd3.1860f","name":"左上がりbreak判定","func":"if (msg.x >= 0 && msg.count < msg.n) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":"2","noerr":0,"x":450,"y":660,"wires":[["dbb219ab.4959d8"],["26bc5524.0c71ca"]]},{"id":"dbb219ab.4959d8","type":"function","z":"dc80bfd3.1860f","name":"出力文字列生成","func":"msg.cordinate = `${++msg.count} (${msg.x},${msg.y})`;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["159750ce.84bc0f","3a6ce1d.a56a21e"]]},{"id":"727429ab.880268","type":"comment","z":"dc80bfd3.1860f","name":"右下がり中ループ","info":"","x":510,"y":340,"wires":[]},{"id":"bcce0131.d7cb4","type":"comment","z":"dc80bfd3.1860f","name":"左上がり中ループ","info":"","x":510,"y":620,"wires":[]}]