Node-RED/rock-paper-scissors/rock-paper-scissors-server.json
[{"id":"55c3e697.f36888","type":"http in","z":"392fa590.6aa96a","name":"","url":"/rps","method":"post","swaggerDoc":"","x":140,"y":100,"wires":[["8058463b.2cccd8","96ee1444.c30148"]]},{"id":"8058463b.2cccd8","type":"function","z":"392fa590.6aa96a","name":"情報格納","func":"msg.reqData = msg.payload;\n\nvar playerData = flow.get('playerData') | {player: []};\nplayerData.player.push(msg.reqData);\n\nflow.set('playerData', playerData);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["6ccd6522.a7600c"]]},{"id":"6ccd6522.a7600c","type":"function","z":"392fa590.6aa96a","name":"受け取ったプレイヤーデータの数","func":"msg.receivedPlayerNum = flow.get('playerData').player.length;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["2091180f.063768"]]},{"id":"96ee1444.c30148","type":"debug","z":"392fa590.6aa96a","name":"","active":true,"console":"false","complete":"false","x":330,"y":40,"wires":[]},{"id":"2091180f.063768","type":"switch","z":"392fa590.6aa96a","name":"","property":"receivedPlayerNum","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":130,"y":360,"wires":[["6ccd6522.a7600c"],["299ba770.6d0dc8"],["e3340b8f.5051f8"]]},{"id":"e3340b8f.5051f8","type":"function","z":"392fa590.6aa96a","name":"何かおかしい","func":"msg.payload = '何かおかしい！！';\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":440,"wires":[["7a33cb10.680ee4"]]},{"id":"7a33cb10.680ee4","type":"debug","z":"392fa590.6aa96a","name":"","active":true,"console":"false","complete":"false","x":370,"y":440,"wires":[]},{"id":"299ba770.6d0dc8","type":"function","z":"392fa590.6aa96a","name":"判定","func":"var playerData = flow.get('playerData');\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[[]]}]