Node-RED/submarine/flows_PC-PEWBA083516.json
[{"id":"9b83028.91bee","type":"tab","label":"フロー 1"},{"id":"e0354836.d23ab8","type":"tab","label":"フロー 2"},{"id":"a8fc22ca.861a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"efb81391.c57fb","type":"ui_group","z":"","name":"Default","tab":"a8fc22ca.861a8","disp":true,"width":"10"},{"id":"aa3aa5e2.efdc68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"75cccde3.93a4f4","type":"inject","z":"9b83028.91bee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.28125,"y":81.97222900390625,"wires":[["e0a28996.af50e8"]]},{"id":"cccfd7cc.0b06e8","type":"debug","z":"9b83028.91bee","name":"","active":true,"console":"false","complete":"false","x":562.2777557373047,"y":202.90972900390625,"wires":[]},{"id":"e0a28996.af50e8","type":"function","z":"9b83028.91bee","name":"","func":"msg.payload = [\n    ['1',null,Buffer.from([0,1]),'4'],\n    ['1','0f',Buffer.from([0,1]),'4'],\n    {a:'テスト',b:'ffffff', c:Buffer.from([2,3]),d:'D'}\n];\n// msg.payload = '';\n\nreturn msg;","outputs":1,"noerr":0,"x":121.82640075683594,"y":202.4444580078125,"wires":[["cdbea7d8.be5cd8"]]},{"id":"94b76063.93b7b","type":"ui_template","z":"e0354836.d23ab8","group":"efb81391.c57fb","name":"Matrix","order":2,"width":"9","height":"9","format":"\n<table border=\"1\">\n    <tr ng-repeat=\"row in msg.matrix\">\n        <td ng-repeat=\"col in row\">\n            <div ng-style=\"{'min-width': '50px', 'min-height': '50px', 'background-color': '{{col.color}}'}\">\n                <div ng-if=\"col.submarine\">潜水艦</div>\n            </div>\n        </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":1010,"y":40,"wires":[[]]},{"id":"c6a11d4a.d95ef","type":"ui_button","z":"e0354836.d23ab8","name":"","group":"efb81391.c57fb","order":1,"width":"4","height":"1","label":"リセット","color":"","bgcolor":"","icon":"","payload":"init","payloadType":"str","topic":"","x":120,"y":120,"wires":[["60d6eb4.1536b14"]]},{"id":"60d6eb4.1536b14","type":"function","z":"e0354836.d23ab8","name":"初期化","func":"msg.matrix = [];\n\nfor (let i=0; i<8; i++) {\n    let arr = [];\n    for (let j=0; j<8; j++) {\n        arr.push({});\n    }\n    msg.matrix.push(arr);\n}\n\n//潜水艦配置\nmsg.matrix[0][3].submarine = true;\nmsg.matrix[5][6].submarine = true;\nmsg.matrix[7][7].submarine = true;\n\nglobal.set('matrix', msg.matrix);\n\n//攻撃回数\nmsg.payload = '';\nglobal.set('attackCount', 0);\n\n//全滅判定用\nglobal.set('existSubmarine', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["9fd2d255.2b183","47a7cbc7.430e94","de3b3542.986c18"]]},{"id":"cdbea7d8.be5cd8","type":"pg-buffergenerator","z":"9b83028.91bee","name":"","totalLength":"100","rules":[{"n":"a","l":"10","t":"ss","pp":true},{"n":"b","l":"4","t":"sn","pp":false},{"n":"c","l":"4","t":"bb","pp":false},{"n":"d","l":"4","t":"ss","pp":false}],"x":321.8367919921875,"y":204.1944580078125,"wires":[["cccfd7cc.0b06e8"]]},{"id":"9369317e.50d2c","type":"catch","z":"9b83028.91bee","name":"","scope":["cdbea7d8.be5cd8"],"x":415.82984924316406,"y":524.1736755371094,"wires":[["b520adc0.ca944","340ae3bd.f4b73c"]]},{"id":"b520adc0.ca944","type":"debug","z":"9b83028.91bee","name":"","active":true,"console":"false","complete":"payload","x":627.8402557373047,"y":487.91668701171875,"wires":[]},{"id":"340ae3bd.f4b73c","type":"debug","z":"9b83028.91bee","name":"","active":true,"console":"false","complete":"error","x":618.8957977294922,"y":551.888916015625,"wires":[]},{"id":"5cec9c44.8fdc84","type":"debug","z":"9b83028.91bee","name":"","active":true,"console":"false","complete":"false","x":438.8299102783203,"y":715.9132385253906,"wires":[]},{"id":"e17b05cf.e90858","type":"inject","z":"9b83028.91bee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":127.84028625488281,"y":489.9583435058594,"wires":[["eefe10ad.66bdb"]]},{"id":"eefe10ad.66bdb","type":"function","z":"9b83028.91bee","name":"","func":"msg.payload = [];\n\nmsg.payload[0] = 0;\nmsg.payload[2] = 2;\nmsg.payload[4] = 4;\nreturn msg;","outputs":1,"noerr":0,"x":270.8367919921875,"y":582.4341125488281,"wires":[["5cec9c44.8fdc84"]]},{"id":"8cb7175.eabade8","type":"inject","z":"9b83028.91bee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":85.89582824707031,"y":285.8888854980469,"wires":[["da80c713.1bcd98"]]},{"id":"7a62e019.9f184","type":"debug","z":"9b83028.91bee","name":"","active":true,"console":"false","complete":"false","x":563.892333984375,"y":372.8263854980469,"wires":[]},{"id":"da80c713.1bcd98","type":"function","z":"9b83028.91bee","name":"","func":"msg.payload = [\n[ Buffer.from([2]), \n    \"0f2001\", \n    \"fe00000b00000ef00100c08ffffe5e237a\", \n    Buffer.from([42]), \n    \"未設定\", \n    \"アドバンスネットアダプタ\", \n    null, \n    null ], \n\n[ Buffer.from([4]), \n    \"013001\", \n    \"fe00000b00000ef0010000000000000002\",\n    Buffer.from([33]), \n    \"未設定\", \n    \"家庭用エアコン\", \n    null, \n    null ] \n]\n\nreturn msg;","outputs":1,"noerr":0,"x":123.44097900390625,"y":372.3611145019531,"wires":[["c79bb714.2246d8"]]},{"id":"c79bb714.2246d8","type":"pg-buffergenerator","z":"9b83028.91bee","name":"","totalLength":"20600","rules":[{"n":"ノード識別ID","l":"4","t":"bb","pp":false},{"n":"EOJ","l":"3","t":"sn","pp":false},{"n":"識別番号(ノードプロファイル)","l":"17","t":"sn","pp":false},{"n":"デバイス種別","l":"1","t":"bb","pp":true},{"n":"場所名称","l":"37","t":"ss","pp":true},{"n":"機器名称","l":"37","t":"ss","pp":true},{"n":"機器使用開始日","l":"4","t":"bb","pp":false},{"n":"機器ID","l":"30","t":"sn","pp":false}],"x":322.45135498046875,"y":372.1111145019531,"wires":[["7a62e019.9f184","1ed2c3d.f6d133c"]]},{"id":"1ed2c3d.f6d133c","type":"file","z":"9b83028.91bee","name":"","filename":"C:\\sra\\sasaki\\temp\\buffer.dat","appendNewline":false,"createDir":true,"overwriteFile":"true","x":616.8333587646484,"y":305.7986145019531,"wires":[]},{"id":"12f0e8cc.803907","type":"http in","z":"e0354836.d23ab8","name":"","url":"/submarine","method":"post","swaggerDoc":"","x":140,"y":260,"wires":[["d6da1290.30911"]]},{"id":"949cb9c0.560018","type":"inject","z":"e0354836.d23ab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":740,"wires":[["4e5ac708.9430f8"]]},{"id":"4e5ac708.9430f8","type":"function","z":"e0354836.d23ab8","name":"","func":"msg.payload = {};\nmsg.payload.row = 5;\nmsg.payload.col = 6;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["5a0b7b56.f989a4"]]},{"id":"5a0b7b56.f989a4","type":"http request","z":"e0354836.d23ab8","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/submarine","tls":"","x":530,"y":740,"wires":[["8e6361de.df7ca8"]]},{"id":"8e6361de.df7ca8","type":"debug","z":"e0354836.d23ab8","name":"","active":true,"console":"false","complete":"false","x":730,"y":740,"wires":[]},{"id":"29414321.fd053c","type":"http response","z":"e0354836.d23ab8","name":"","x":830,"y":520,"wires":[]},{"id":"363feadd.d06996","type":"function","z":"e0354836.d23ab8","name":"当たり判定","func":"msg.matrix = global.get('matrix');\n\nif (hit(msg.matrix, msg.attack)) {\n    //あたり\n    msg.status = 'hit';\n    let attackedCell = msg.matrix[msg.attack.row][msg.attack.col];\n    attackedCell.color = 'red';\n    delete attackedCell.submarine;\n} else if(near(msg.matrix, msg.attack)) {\n    //かすり\n    msg.status = 'near';\n    let attackedCell = msg.matrix[msg.attack.row][msg.attack.col];\n    attackedCell.color = 'yellow';\n} else {\n    //はずれ\n    msg.status = 'fail';\n}\n\n//全滅判定\nvar existSubmarine = msg.matrix.find((row ,index)=> {\n    return row.find((col, idx) => {\n        if (col.submarine) {\n            return true;\n        } else {\n            return false;\n        }\n    });\n});\nif (!existSubmarine) {\n    global.set('existSubmarine', false);\n}\n\nreturn msg;\n\nfunction hit(matrix, attack) {\n    if (attack.row < 0 || attack.col < 0) {\n        return false;\n    }\n    if (attack.row > matrix.length-1) {\n        return false;\n    }\n    if (attack.col > matrix[0].length-1) {\n        return false;\n    }\n    \n    let attackedCell = matrix[attack.row][attack.col];\n    if (attackedCell.submarine) {\n        return true;\n    } else {\n        return false;\n    }\n}\n\nfunction near(matrix, attack) {\n    \n    //左上\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //真上\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //右上\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //左横\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //右横\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //左下\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //真下\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //右下\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    return false;\n}\n\n","outputs":"1","noerr":0,"x":570,"y":340,"wires":[["83a2ca8b.5a3ee8","d7d3052f.77fa08"]]},{"id":"83a2ca8b.5a3ee8","type":"delay","z":"e0354836.d23ab8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":420,"wires":[["db245ae6.4cc538"]]},{"id":"db245ae6.4cc538","type":"function","z":"e0354836.d23ab8","name":"セルの色を元に戻す","func":"msg.matrix.forEach(row => {\n    row.forEach(col => {\n       if (col.color) {\n           delete col.color;\n       } \n    });\n})\n\nglobal.set('matrix', msg.matrix);\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":420,"wires":[["f0cf841b.245d48","50491163.079fb","d7288548.aa7fc8"]]},{"id":"d6da1290.30911","type":"change","z":"e0354836.d23ab8","name":"","rules":[{"t":"set","p":"attack","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":260,"wires":[["efa8c28d.6dbe2"]]},{"id":"d7288548.aa7fc8","type":"function","z":"e0354836.d23ab8","name":"レスポンスをセット","func":"var response = {};\n\nif (msg.status === 'hit') {\n    response.judge = 'HIT';\n} else if (msg.status === 'near') {\n    response.judge = 'NEAR';\n} else {\n    response.judge = 'FAIL';\n}\n\n//攻撃回数\nresponse.attackCount = global.get('attackCount');\n\n//全滅判定\nif (!global.get('existSubmarine')) {\n    response.complete = true;\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":520,"wires":[["29414321.fd053c"]]},{"id":"efa8c28d.6dbe2","type":"function","z":"e0354836.d23ab8","name":"攻撃回数","func":"//攻撃回数\nvar attackCount = global.get('attackCount') | 0;\nattackCount++;\nglobal.set('attackCount', attackCount);\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["363feadd.d06996","a0a8361e.c499d8"]]},{"id":"f0cf841b.245d48","type":"function","z":"e0354836.d23ab8","name":"全滅判定表示","func":"if (!global.get('existSubmarine')) {\n    return {payload: '全滅！'};\n}\n","outputs":1,"noerr":0,"x":1040,"y":460,"wires":[["fcd1c0f4.a1909"]]},{"id":"329ff67e.2259aa","type":"link in","z":"e0354836.d23ab8","name":"Matrix表示","links":["9fd2d255.2b183","d7d3052f.77fa08","50491163.079fb"],"x":835,"y":40,"wires":[["94b76063.93b7b"]]},{"id":"9fd2d255.2b183","type":"link out","z":"e0354836.d23ab8","name":"","links":["329ff67e.2259aa"],"x":455,"y":80,"wires":[]},{"id":"d7d3052f.77fa08","type":"link out","z":"e0354836.d23ab8","name":"","links":["329ff67e.2259aa"],"x":735,"y":340,"wires":[]},{"id":"50491163.079fb","type":"link out","z":"e0354836.d23ab8","name":"","links":["329ff67e.2259aa"],"x":975,"y":380,"wires":[]},{"id":"ad12a5d6.889c68","type":"ui_text","z":"e0354836.d23ab8","group":"efb81391.c57fb","order":3,"width":0,"height":0,"name":"","label":"攻撃回数","format":"{{msg.payload}} ","layout":"row-left","x":1020,"y":100,"wires":[]},{"id":"a0a8361e.c499d8","type":"function","z":"e0354836.d23ab8","name":"攻撃回数表示","func":"return {payload: global.get('attackCount')};","outputs":1,"noerr":0,"x":800,"y":260,"wires":[["ffea0c99.2efd9"]]},{"id":"1d0cea96.b09835","type":"ui_template","z":"e0354836.d23ab8","group":"efb81391.c57fb","name":"完了メッセージ","order":4,"width":"6","height":"2","format":"<h3>\n    <span style=\"color: red\">{{msg.payload}}</span>\n</h3>\n","storeOutMessages":true,"fwdInMessages":true,"x":1040,"y":160,"wires":[[]]},{"id":"c85f9b44.586488","type":"link in","z":"e0354836.d23ab8","name":"完了メッセージ","links":["47a7cbc7.430e94","fcd1c0f4.a1909"],"x":835,"y":160,"wires":[["1d0cea96.b09835"]]},{"id":"47a7cbc7.430e94","type":"link out","z":"e0354836.d23ab8","name":"","links":["c85f9b44.586488"],"x":455,"y":160,"wires":[]},{"id":"fcd1c0f4.a1909","type":"link out","z":"e0354836.d23ab8","name":"","links":["c85f9b44.586488"],"x":1195,"y":460,"wires":[]},{"id":"9a0d380e.c570d8","type":"link in","z":"e0354836.d23ab8","name":"攻撃回数","links":["de3b3542.986c18","ffea0c99.2efd9"],"x":835,"y":100,"wires":[["ad12a5d6.889c68"]]},{"id":"de3b3542.986c18","type":"link out","z":"e0354836.d23ab8","name":"","links":["9a0d380e.c570d8"],"x":455,"y":120,"wires":[]},{"id":"ffea0c99.2efd9","type":"link out","z":"e0354836.d23ab8","name":"","links":["9a0d380e.c570d8"],"x":955,"y":260,"wires":[]}]