Node-RED/submarine/submarine_server.json
[{"id":"2ee4040b.a45d7c","type":"ui_template","z":"2bc4dce4.579514","group":"a2894c2.db3a5b","name":"Matrix","order":2,"width":"10","height":"10","format":"\n<table border=\"1\">\n    <tr ng-repeat=\"row in msg.matrix\">\n        <td ng-repeat=\"col in row\">\n            <div ng-style=\"{'min-width': '50px', 'min-height': '50px', 'background-color': '{{col.color}}'}\">\n                <div ng-if=\"col.submarine\">潜水艦</div>\n            </div>\n        </td>\n    </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"x":1057.895751953125,"y":116.88888549804688,"wires":[[]]},{"id":"4208a7c8.f9f888","type":"ui_button","z":"2bc4dce4.579514","name":"","group":"a2894c2.db3a5b","order":1,"width":"4","height":"1","label":"リセット","color":"","bgcolor":"blue","icon":"","payload":"init","payloadType":"str","topic":"","x":167.895751953125,"y":196.88888549804688,"wires":[["63c74c5c.331064"]]},{"id":"63c74c5c.331064","type":"function","z":"2bc4dce4.579514","name":"初期化","func":"msg.matrix = [];\n\nfor (let i=0; i<9; i++) {\n    let arr = [];\n    for (let j=0; j<9; j++) {\n        arr.push({});\n    }\n    msg.matrix.push(arr);\n}\n\n//潜水艦配置\nmsg.matrix[0][3].submarine = true;\nmsg.matrix[5][6].submarine = true;\nmsg.matrix[7][7].submarine = true;\nmsg.matrix[8][7].submarine = true;\n\nglobal.set('matrix', msg.matrix);\n\n//攻撃回数\nmsg.payload = '';\nglobal.set('attackCount', 0);\n\n//全滅判定用\nglobal.set('existSubmarine', true);\n\nreturn msg;","outputs":1,"noerr":0,"x":337.895751953125,"y":196.88888549804688,"wires":[["11c095ff.1c2a4a","4b4fa029.b5612","4df21c36.ee05b4"]]},{"id":"ed84cfdb.e496c","type":"http in","z":"2bc4dce4.579514","name":"","url":"/submarine","method":"post","swaggerDoc":"","x":187.895751953125,"y":336.8888854980469,"wires":[["63967f0.23d838","4c10aa7b.4b4a34"]]},{"id":"9e593414.666938","type":"inject","z":"2bc4dce4.579514","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":207.895751953125,"y":816.8888854980469,"wires":[["bdc02654.265e88"]]},{"id":"bdc02654.265e88","type":"function","z":"2bc4dce4.579514","name":"","func":"msg.payload = {};\nmsg.payload.row = 7;\nmsg.payload.col = 7;\nreturn msg;","outputs":1,"noerr":0,"x":377.895751953125,"y":816.8888854980469,"wires":[["42d6e2c.e21291c"]]},{"id":"42d6e2c.e21291c","type":"http request","z":"2bc4dce4.579514","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/submarine","tls":"","x":577.895751953125,"y":816.8888854980469,"wires":[["b74867f.f34c598"]]},{"id":"b74867f.f34c598","type":"debug","z":"2bc4dce4.579514","name":"","active":true,"console":"false","complete":"false","x":777.895751953125,"y":816.8888854980469,"wires":[]},{"id":"51d85d5b.4b3174","type":"http response","z":"2bc4dce4.579514","name":"","x":877.895751953125,"y":596.8888854980469,"wires":[]},{"id":"835a727f.a185e","type":"function","z":"2bc4dce4.579514","name":"当たり判定","func":"msg.matrix = global.get('matrix');\n\nlet attackedCell = msg.matrix[msg.attack.row][msg.attack.col];\n\nif (hit(msg.matrix, msg.attack)) {\n    //あたり\n    msg.status = 'hit';\n    attackedCell.color = 'red';\n    delete attackedCell.submarine;\n} else if(near(msg.matrix, msg.attack)) {\n    //かすり\n    msg.status = 'near';\n    attackedCell.color = 'yellow';\n} else {\n    //はずれ\n    msg.status = 'fail';\n    attackedCell.color = 'grey';\n}\n\n//全滅判定\nvar existSubmarine = msg.matrix.find((row ,index)=> {\n    return row.find((col, idx) => {\n        if (col.submarine) {\n            return true;\n        } else {\n            return false;\n        }\n    });\n});\nif (!existSubmarine) {\n    global.set('existSubmarine', false);\n}\n\nreturn msg;\n\nfunction hit(matrix, attack) {\n    if (attack.row < 0 || attack.col < 0) {\n        return false;\n    }\n    if (attack.row > matrix.length-1) {\n        return false;\n    }\n    if (attack.col > matrix[0].length-1) {\n        return false;\n    }\n    \n    let attackedCell = matrix[attack.row][attack.col];\n    if (attackedCell.submarine) {\n        return true;\n    } else {\n        return false;\n    }\n}\n\nfunction near(matrix, attack) {\n    \n    //左上\n    if (hit(matrix, {row: attack.row -1, col: attack.col -1})) {\n        return true;\n    }\n    //真上\n    if (hit(matrix, {row: attack.row -1, col: attack.col})) {\n        return true;\n    }\n    //右上\n    if (hit(matrix, {row: attack.row -1, col: attack.col +1})) {\n        return true;\n    }\n    //左横\n    if (hit(matrix, {row: attack.row, col: attack.col -1})) {\n        return true;\n    }\n    //右横\n    if (hit(matrix, {row: attack.row, col: attack.col +1})) {\n        return true;\n    }\n    //左下\n    if (hit(matrix, {row: attack.row +1, col: attack.col -1})) {\n        return true;\n    }\n    //真下\n    if (hit(matrix, {row: attack.row +1, col: attack.col})) {\n        return true;\n    }\n    //右下\n    if (hit(matrix, {row: attack.row +1, col: attack.col +1})) {\n        return true;\n    }\n    return false;\n}\n\n","outputs":"1","noerr":0,"x":617.895751953125,"y":416.8888854980469,"wires":[["9396d1bf.4b83","e7cdfb5c.c40a28"]]},{"id":"9396d1bf.4b83","type":"delay","z":"2bc4dce4.579514","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":607.895751953125,"y":496.8888854980469,"wires":[["a576a12c.11a5f"]]},{"id":"a576a12c.11a5f","type":"function","z":"2bc4dce4.579514","name":"セルの色を元に戻す","func":"msg.matrix.forEach(row => {\n    row.forEach(col => {\n       if (col.color) {\n           delete col.color;\n       } \n    });\n})\n\nglobal.set('matrix', msg.matrix);\n\nreturn msg;","outputs":1,"noerr":0,"x":827.895751953125,"y":496.8888854980469,"wires":[["a98c7511.78ed78","84b1166e.607348","6bdf3c1e.83dae4"]]},{"id":"63967f0.23d838","type":"change","z":"2bc4dce4.579514","name":"","rules":[{"t":"set","p":"attack","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":407.895751953125,"y":336.8888854980469,"wires":[["90d93a64.140178"]]},{"id":"6bdf3c1e.83dae4","type":"function","z":"2bc4dce4.579514","name":"レスポンスをセット","func":"var response = {};\n\nif (msg.status === 'hit') {\n    response.judge = 'HIT';\n} else if (msg.status === 'near') {\n    response.judge = 'NEAR';\n} else {\n    response.judge = 'FAIL';\n}\n\n//攻撃回数\nresponse.attackCount = global.get('attackCount');\n\n//全滅判定\nif (!global.get('existSubmarine')) {\n    response.complete = true;\n} else {\n    response.complete = false;\n}\n\nmsg.payload = response;\n\nreturn msg;","outputs":1,"noerr":0,"x":647.895751953125,"y":596.8888854980469,"wires":[["51d85d5b.4b3174"]]},{"id":"90d93a64.140178","type":"function","z":"2bc4dce4.579514","name":"攻撃回数","func":"//攻撃回数\nvar attackCount = global.get('attackCount') | 0;\nattackCount++;\nglobal.set('attackCount', attackCount);\n\nreturn msg;","outputs":1,"noerr":0,"x":607.895751953125,"y":336.8888854980469,"wires":[["835a727f.a185e","503f4ac.b361fb4"]]},{"id":"a98c7511.78ed78","type":"function","z":"2bc4dce4.579514","name":"全滅判定表示","func":"if (!global.get('existSubmarine')) {\n    return {payload: '全滅！'};\n}\n","outputs":1,"noerr":0,"x":1087.895751953125,"y":536.8888854980469,"wires":[["344be5dc.93935a"]]},{"id":"bf3c0225.6dff7","type":"link in","z":"2bc4dce4.579514","name":"Matrix表示","links":["11c095ff.1c2a4a","e7cdfb5c.c40a28","84b1166e.607348"],"x":882.895751953125,"y":116.88888549804688,"wires":[["2ee4040b.a45d7c"]]},{"id":"11c095ff.1c2a4a","type":"link out","z":"2bc4dce4.579514","name":"","links":["bf3c0225.6dff7"],"x":502.895751953125,"y":156.88888549804688,"wires":[]},{"id":"e7cdfb5c.c40a28","type":"link out","z":"2bc4dce4.579514","name":"","links":["bf3c0225.6dff7"],"x":782.895751953125,"y":416.8888854980469,"wires":[]},{"id":"84b1166e.607348","type":"link out","z":"2bc4dce4.579514","name":"","links":["bf3c0225.6dff7"],"x":1022.895751953125,"y":456.8888854980469,"wires":[]},{"id":"5c76ac8d.6f9474","type":"ui_text","z":"2bc4dce4.579514","group":"a2894c2.db3a5b","order":3,"width":0,"height":0,"name":"","label":"攻撃回数","format":"{{msg.payload}} ","layout":"row-left","x":1067.895751953125,"y":176.88888549804688,"wires":[]},{"id":"503f4ac.b361fb4","type":"function","z":"2bc4dce4.579514","name":"攻撃回数表示","func":"return {payload: global.get('attackCount')};","outputs":1,"noerr":0,"x":847.895751953125,"y":336.8888854980469,"wires":[["5d9c9261.d0bf0c"]]},{"id":"a47f8209.1f1b7","type":"ui_template","z":"2bc4dce4.579514","group":"a2894c2.db3a5b","name":"完了メッセージ","order":4,"width":"6","height":"2","format":"<h3>\n    <span style=\"color: red\">{{msg.payload}}</span>\n</h3>\n","storeOutMessages":true,"fwdInMessages":true,"x":1087.895751953125,"y":236.88888549804688,"wires":[[]]},{"id":"5bb3cdb.29e2434","type":"link in","z":"2bc4dce4.579514","name":"完了メッセージ","links":["4b4fa029.b5612","344be5dc.93935a"],"x":882.895751953125,"y":236.88888549804688,"wires":[["a47f8209.1f1b7"]]},{"id":"4b4fa029.b5612","type":"link out","z":"2bc4dce4.579514","name":"","links":["5bb3cdb.29e2434"],"x":502.895751953125,"y":236.88888549804688,"wires":[]},{"id":"344be5dc.93935a","type":"link out","z":"2bc4dce4.579514","name":"","links":["5bb3cdb.29e2434"],"x":1242.895751953125,"y":536.8888854980469,"wires":[]},{"id":"9cc055af.272e18","type":"link in","z":"2bc4dce4.579514","name":"攻撃回数","links":["4df21c36.ee05b4","5d9c9261.d0bf0c"],"x":882.895751953125,"y":176.88888549804688,"wires":[["5c76ac8d.6f9474"]]},{"id":"4df21c36.ee05b4","type":"link out","z":"2bc4dce4.579514","name":"","links":["9cc055af.272e18"],"x":502.895751953125,"y":196.88888549804688,"wires":[]},{"id":"5d9c9261.d0bf0c","type":"link out","z":"2bc4dce4.579514","name":"","links":["9cc055af.272e18"],"x":1002.895751953125,"y":336.8888854980469,"wires":[]},{"id":"4c10aa7b.4b4a34","type":"debug","z":"2bc4dce4.579514","name":"","active":true,"console":"false","complete":"false","x":253,"y":408,"wires":[]},{"id":"a2894c2.db3a5b","type":"ui_group","z":"","name":"Submarine Game","tab":"e4fb7c03.8d2f","disp":true,"width":"12"},{"id":"e4fb7c03.8d2f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]