Node-RED/submarine/submarine_client.json
[{"id":"63410ab3.cbbb14","type":"inject","z":"41247bdb.6f195c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":87,"wires":[["11012758.f01851"]]},{"id":"11012758.f01851","type":"function","z":"41247bdb.6f195c","name":"init","func":"msg.matrix = [];\nfor (let i=0; i<9; i++) {\n    let row = [];\n    for (let j=0; j<9; j++) {\n        row.push('未');\n    }\n    msg.matrix.push(row);\n}\n\nmsg.attackCenter = {row: 1, col: 1};\nreturn msg;","outputs":1,"noerr":0,"x":129,"y":203,"wires":[["58cb8c64.f49f74"]]},{"id":"58cb8c64.f49f74","type":"function","z":"41247bdb.6f195c","name":"attack center","func":"let message = {payload: msg.attackCenter};\nmessage.matrix = msg.matrix;\nmessage.attackCenter = msg.attackCenter;\nreturn message;","outputs":1,"noerr":0,"x":150,"y":292.5,"wires":[["30ae1d3b.1ca34a"]]},{"id":"30ae1d3b.1ca34a","type":"http request","z":"41247bdb.6f195c","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/submarine","tls":"","x":383,"y":292,"wires":[["28e25a86.1e9c9e"]]},{"id":"f7da21b4.ce4d6","type":"switch","z":"41247bdb.6f195c","name":"","property":"payload.judge","propertyType":"msg","rules":[{"t":"eq","v":"HIT","vt":"str"},{"t":"eq","v":"FAIL","vt":"str"},{"t":"eq","v":"NEAR","vt":"str"},{"t":"else"}],"checkall":"true","outputs":4,"x":130,"y":463.5,"wires":[["f8e5246a.1b9f78"],["5aca242e.33a08c"],["32643ad.a9e5246"],[]]},{"id":"24cff6a8.eec252","type":"function","z":"41247bdb.6f195c","name":"change center","func":"let center = msg.attackCenter;\nif (center.row === 7 && center.col === 7) {\n    return [null, msg];\n} else {\n    if (center.col === 7) {\n        center.row += 3;\n        center.col = 1;\n    } else {\n        center.col += 3;\n    }\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":773,"y":468.5,"wires":[["58cb8c64.f49f74"],["2b145221.2d6576"]]},{"id":"f8e5246a.1b9f78","type":"function","z":"41247bdb.6f195c","name":"mark hit","func":"let center = msg.attackCenter;\nmsg.matrix[center.row][center.col] = '済';\nreturn msg;","outputs":1,"noerr":0,"x":309,"y":428.5,"wires":[["24cff6a8.eec252"]]},{"id":"5aca242e.33a08c","type":"function","z":"41247bdb.6f195c","name":"mark fail","func":"let center = msg.attackCenter;\nmsg.matrix[center.row-1][center.col-1] = '済';\nmsg.matrix[center.row-1][center.col] = '済';\nmsg.matrix[center.row-1][center.col+1] = '済';\nmsg.matrix[center.row][center.col-1] = '済';\nmsg.matrix[center.row][center.col] = '済';\nmsg.matrix[center.row][center.col+1] = '済';\nmsg.matrix[center.row+1][center.col-1] = '済';\nmsg.matrix[center.row+1][center.col] = '済';\nmsg.matrix[center.row+1][center.col+1] = '済';\nreturn msg;","outputs":1,"noerr":0,"x":311,"y":469,"wires":[["24cff6a8.eec252"]]},{"id":"32643ad.a9e5246","type":"function","z":"41247bdb.6f195c","name":"init search submarine","func":"msg.searchPoint = {\n    row: msg.attackCenter.row-1,\n    col: msg.attackCenter.col-1\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":601.5,"wires":[["42fd0fc6.bf5a08"]]},{"id":"42fd0fc6.bf5a08","type":"function","z":"41247bdb.6f195c","name":"attack point","func":"let message = {payload: msg.searchPoint};\nmessage.matrix = msg.matrix;\nmessage.attackCenter = msg.attackCenter;\nmessage.searchPoint = msg.searchPoint;\nreturn message;\n","outputs":1,"noerr":0,"x":322,"y":655,"wires":[["ede70c7e.6f35f8"]]},{"id":"ede70c7e.6f35f8","type":"http request","z":"41247bdb.6f195c","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/submarine","tls":"","x":532,"y":651,"wires":[["29398685.30ef32"]]},{"id":"788c03d9.464564","type":"switch","z":"41247bdb.6f195c","name":"","property":"payload.judge","propertyType":"msg","rules":[{"t":"eq","v":"HIT","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":310,"y":781,"wires":[["ea5242df.e8122"],["6f34be6.12b114"]]},{"id":"ea5242df.e8122","type":"function","z":"41247bdb.6f195c","name":"mark hit","func":"let point = msg.searchPoint;\nmsg.matrix[point.row][point.col] = '済';\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":721,"wires":[["24cff6a8.eec252"]]},{"id":"5158ba05.a9259c","type":"function","z":"41247bdb.6f195c","name":"change searchPoint","func":"let center = msg.attackCenter;\nlet point = msg.searchPoint;\nif (point.col === center.col+1) {\n    point.row += 1;\n    point.col = center.col-1\n} else {\n    point.col +=1;\n}\nmsg.searchPoint = point;\nreturn msg;","outputs":"1","noerr":0,"x":674,"y":809,"wires":[["42fd0fc6.bf5a08"]]},{"id":"28e25a86.1e9c9e","type":"json","z":"41247bdb.6f195c","name":"","x":570,"y":291.5,"wires":[["f7da21b4.ce4d6"]]},{"id":"29398685.30ef32","type":"json","z":"41247bdb.6f195c","name":"","x":166,"y":777.5,"wires":[["788c03d9.464564"]]},{"id":"6f34be6.12b114","type":"function","z":"41247bdb.6f195c","name":"mark done","func":"let point = msg.searchPoint;\nmsg.matrix[point.row][point.col] = '済';\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":808,"wires":[["5158ba05.a9259c"]]},{"id":"2b145221.2d6576","type":"function","z":"41247bdb.6f195c","name":"all attack point","func":"msg.searchPoint = {};\n\nfor (let i=0; i<msg.matrix.length; i++) {\n    for (let j=0; j<msg.matrix[i].length; j++) {\n        if (msg.matrix[i][j] === '未') {\n            msg.searchPoint = {row: i, col: j};\n            break;\n        }\n    }\n    if (msg.searchPoint.row) {\n        break;\n    }\n}\n\nlet message = {payload: msg.searchPoint};\nmessage.matrix = msg.matrix;\nmessage.attackCenter = msg.attackCenter;\nmessage.searchPoint = msg.searchPoint;\nreturn message;","outputs":1,"noerr":0,"x":789,"y":566,"wires":[["f09207.70ec2df8"]]},{"id":"f09207.70ec2df8","type":"http request","z":"41247bdb.6f195c","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/submarine","tls":"","x":978,"y":567,"wires":[["22448a53.73c186"]]},{"id":"22448a53.73c186","type":"json","z":"41247bdb.6f195c","name":"","x":761,"y":689,"wires":[["d8589c35.6b66a"]]},{"id":"d8589c35.6b66a","type":"switch","z":"41247bdb.6f195c","name":"","property":"payload.complete","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":901,"y":692,"wires":[["27aca98b.a35916"],["33131d0e.a40512"]]},{"id":"33131d0e.a40512","type":"function","z":"41247bdb.6f195c","name":"mark done","func":"let point = msg.searchPoint;\nmsg.matrix[point.row][point.col] = '済';\nreturn msg;","outputs":1,"noerr":0,"x":1088,"y":737,"wires":[["2b145221.2d6576"]]},{"id":"27aca98b.a35916","type":"debug","z":"41247bdb.6f195c","name":"","active":true,"console":"false","complete":"false","x":1108,"y":657,"wires":[]}]