Node-RED/2018/popuko.json
[{"id":"20457ae.b10c686","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"c909e2be.a800d8","type":"inject","z":"20457ae.b10c686","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["646e0f33.36ad48"]]},{"id":"646e0f33.36ad48","type":"function","z":"20457ae.b10c686","name":"初期化","func":"msg.n = 30;\nmsg.count = 0;\nmsg.block = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["76bc5a38.8e8384"]]},{"id":"76bc5a38.8e8384","type":"switch","z":"20457ae.b10c686","name":"count < n","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"n","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":160,"wires":[["dc3ab8a7.159888"]]},{"id":"dc3ab8a7.159888","type":"function","z":"20457ae.b10c686","name":"右下がり初期化","func":"msg.x = 0;\nmsg.y = msg.block;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["2898e87c.640018"]]},{"id":"6b307d8d.9e7d04","type":"function","z":"20457ae.b10c686","name":"座標表示","func":"msg.count++;\nmsg.payload = `${msg.count}(${msg.x}, ${msg.y})`;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["63b62d5.41cf9d4","69a5c1af.6942c"]]},{"id":"63b62d5.41cf9d4","type":"debug","z":"20457ae.b10c686","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":260,"wires":[]},{"id":"69a5c1af.6942c","type":"function","z":"20457ae.b10c686","name":"右下がり","func":"msg.x++;\nmsg.y--;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["2898e87c.640018"]]},{"id":"1b085d32.07ab83","type":"switch","z":"20457ae.b10c686","name":"y >= 0","property":"y","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":280,"wires":[["6b307d8d.9e7d04"],["a0ccf503.351bc8"]]},{"id":"2898e87c.640018","type":"switch","z":"20457ae.b10c686","name":"count < n","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"n","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":280,"wires":[["1b085d32.07ab83"]]},{"id":"a0ccf503.351bc8","type":"function","z":"20457ae.b10c686","name":"block++","func":"msg.block++;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":320,"wires":[["1af53f9e.7d9b8"]]},{"id":"1af53f9e.7d9b8","type":"function","z":"20457ae.b10c686","name":"左あがり初期化","func":"msg.x = msg.block;\nmsg.y = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":420,"wires":[["2c7b2ef8.8dd52a"]]},{"id":"2c7b2ef8.8dd52a","type":"switch","z":"20457ae.b10c686","name":"count < n","property":"count","propertyType":"msg","rules":[{"t":"lt","v":"n","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":540,"wires":[["bc9a4bc4.ef7f08"]]},{"id":"bc9a4bc4.ef7f08","type":"switch","z":"20457ae.b10c686","name":"x >= 0","property":"x","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":540,"wires":[["fb9fa58e.ade22"],["dca79540.f72c58"]]},{"id":"fb9fa58e.ade22","type":"function","z":"20457ae.b10c686","name":"座標表示","func":"msg.count++;\nmsg.payload = `${msg.count}(${msg.x}, ${msg.y})`;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":520,"wires":[["4fbfadec.1a94ac","e3c9a7dc.043168"]]},{"id":"4fbfadec.1a94ac","type":"debug","z":"20457ae.b10c686","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":520,"wires":[]},{"id":"e3c9a7dc.043168","type":"function","z":"20457ae.b10c686","name":"左上がり","func":"msg.x--;\nmsg.y++;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["2c7b2ef8.8dd52a"]]},{"id":"dca79540.f72c58","type":"function","z":"20457ae.b10c686","name":"block++","func":"msg.block++;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":580,"wires":[["76bc5a38.8e8384"]]}]