Node-RED/2018/sudoku.json
[{"id":"2a511e38.822da2","type":"tab","label":"フロー 4","disabled":false,"info":""},{"id":"77967c3d.f22d4c","type":"inject","z":"2a511e38.822da2","name":"開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":60,"wires":[["18451dab.b5a0d2"]]},{"id":"18451dab.b5a0d2","type":"function","z":"2a511e38.822da2","name":"初期化","func":"// 初期配置\nmsg.values = [3, 0, 0, 0, 0, 0, 0, 0, 2];\n\nmsg.count_answer = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":120,"wires":[["45848294.b4d014"]]},{"id":"45848294.b4d014","type":"switch","z":"2a511e38.822da2","name":"全解答判定","property":"count_answer","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"lt","v":"9","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":120,"wires":[["51496e7b.b6d328"],["d2ddf73.6cb0808"]]},{"id":"51496e7b.b6d328","type":"debug","z":"2a511e38.822da2","name":"","active":true,"console":"false","complete":"values","x":650,"y":100,"wires":[]},{"id":"12706107.2c611f","type":"link in","z":"2a511e38.822da2","name":"全解答判定","links":["f86ddbb8.4c5b6","e7df2067.b2b7c8"],"x":115,"y":180,"wires":[["5a54ba44.1c416c"]]},{"id":"d2ddf73.6cb0808","type":"function","z":"2a511e38.822da2","name":"行処理初期化","func":"msg.row = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["a8673bb5.3b6fa"]]},{"id":"a8673bb5.3b6fa","type":"switch","z":"2a511e38.822da2","name":"行ループ判定","property":"row","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":440,"y":320,"wires":[["719e6d88.efbdc4"],["51894ee4.bad6a"]]},{"id":"51894ee4.bad6a","type":"function","z":"2a511e38.822da2","name":"列処理初期化","func":"msg.col = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["4865ee2c.dd6978"]]},{"id":"4865ee2c.dd6978","type":"switch","z":"2a511e38.822da2","name":"列ループ判定","property":"col","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":540,"wires":[["dd14c53b.e0a9a"],["2b708ee.d387b72"]]},{"id":"719e6d88.efbdc4","type":"function","z":"2a511e38.822da2","name":"2マス埋まってたら残り1マス埋める","func":"const col1 = msg.values[msg.row * 3];\nconst col2 = msg.values[msg.row * 3 + 1];\nconst col3 = msg.values[msg.row * 3 + 2];\n\n//すでに3マス埋まってる\nif (col1 !==0 && col2 !== 0 && col3 !==0) {\n    return msg;\n}\n\n//1マスも埋まってない\nif (col1 ===0 && col2 === 0 && col3 ===0) {\n    return msg;\n}\n\nif (col1 !== 0) {\n    if (col2 !== 0) {\n        //1,2マス目が埋まっている\n        msg.values[msg.row * 3 + 2] = 6 - col1 - col2;\n    } else if (col3 !== 0) {\n        //1,3マス目が埋まっている\n        msg.values[msg.row * 3 + 1] = 6 - col1 - col3;\n    }\n} else if (col2 !== 0 && col3 !== 0) {\n    //2マス目、3マス目が埋まっている\n    msg.values[msg.row * 3] = 6 - col2 - col3;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":300,"wires":[["f99ccb1.28e3f38"]]},{"id":"f99ccb1.28e3f38","type":"function","z":"2a511e38.822da2","name":"次の行","func":"msg.row++;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["a8673bb5.3b6fa"]]},{"id":"dd14c53b.e0a9a","type":"function","z":"2a511e38.822da2","name":"2マス埋まってたら残り1マス埋める","func":"const row1 = msg.values[msg.col];\nconst row2 = msg.values[3 + msg.col];\nconst row3 = msg.values[6 + msg.col];\n\n//すでに3マス埋まってる\nif (row1 !==0 && row2 !== 0 && row3 !==0) {\n    return msg;\n}\n\n//1マスも埋まってない\nif (row1 ===0 && row2 === 0 && row3 ===0) {\n    return msg;\n}\n\nif (row1 !== 0) {\n    if (row2 !== 0) {\n        //1, 2マス目が埋まっている\n        msg.values[6 + msg.col] = 6 - row1 - row2;\n    } else if (row3 !== 0) {\n        //1, 3マス目が埋まっている\n        msg.values[3 + msg.col] = 6 - row1 - row3;\n    }\n} else if (row2 !== 0 && row3 !== 0) {\n    //2マス目、3マス目が埋まっている\n    msg.values[msg.col] = 6 - row2 - row3;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["f7196fb7.8d9c1"]]},{"id":"f7196fb7.8d9c1","type":"function","z":"2a511e38.822da2","name":"次の列","func":"msg.col++;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["4865ee2c.dd6978"]]},{"id":"2b708ee.d387b72","type":"function","z":"2a511e38.822da2","name":"クロス処理初期化（行）","func":"msg.row = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["8fc18e51.4f65a8"]]},{"id":"8fc18e51.4f65a8","type":"switch","z":"2a511e38.822da2","name":"行ループ判定","property":"row","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"lt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":540,"y":660,"wires":[["f86ddbb8.4c5b6"],["11a27df7.7275f2"]]},{"id":"f86ddbb8.4c5b6","type":"link out","z":"2a511e38.822da2","name":"","links":["12706107.2c611f"],"x":655,"y":640,"wires":[]},{"id":"11a27df7.7275f2","type":"function","z":"2a511e38.822da2","name":"クロス処理初期化（列）","func":"msg.col = 0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["fd54f193.ce4dd"]]},{"id":"fd54f193.ce4dd","type":"switch","z":"2a511e38.822da2","name":"列ループ判定","property":"col","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"lt","v":"3","vt":"num"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":780,"wires":[["e865f25e.0906"],["c0205b9c.dba9a8"]]},{"id":"e865f25e.0906","type":"function","z":"2a511e38.822da2","name":"次の行","func":"msg.row++;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["8fc18e51.4f65a8"]]},{"id":"c0205b9c.dba9a8","type":"function","z":"2a511e38.822da2","name":"クロスのマスを埋める","func":"//クロスのマスが既に埋まっている\nif (msg.values[msg.row * 3 + msg.col] !== 0) {\n    return msg;\n}\n\n//行の各マス\nconst col1 = msg.values[msg.row * 3];\nconst col2 = msg.values[msg.row * 3 + 1];\nconst col3 = msg.values[msg.row * 3 + 2];\n\n//行が1マスも埋まっていない\nif (col1 ===0 && col2 === 0 && col3 ===0) {\n    return msg;\n}\n\n//列の各マス\nconst row1 = msg.values[msg.col];\nconst row2 = msg.values[3 + msg.col];\nconst row3 = msg.values[6 + msg.col];\n\n//列が1マスも埋まってない\nif (row1 ===0 && row2 === 0 && row3 ===0) {\n    return msg;\n}\n\n//行の埋まっている値\nlet rowVal = 0;\nif (col1 !== 0) {\n    rowVal = col1;\n} else if (col2 !== 0) {\n    rowVal = col2;\n} else {\n    rowVal = col3;\n}\n\n//列の埋まっている値\nlet colVal = 0;\nif (row1 !== 0) {\n    colVal = row1;\n} else if (row2 !== 0) {\n    colVal = row2;\n} else {\n    colVal = row3;\n}\n\n//値を決定できない場合\nif (rowVal === colVal) {\n    return msg;\n}\n\nmsg.values[msg.row * 3 + msg.col] = 6 - rowVal - colVal;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":880,"wires":[["2a2d482a.1e34b8"]]},{"id":"2a2d482a.1e34b8","type":"function","z":"2a511e38.822da2","name":"次の列","func":"msg.col++;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":880,"wires":[["fd54f193.ce4dd"]]},{"id":"5a54ba44.1c416c","type":"function","z":"2a511e38.822da2","name":"解答数","func":"msg.count_answer = 0;\nfor (let i=0; i<msg.values.length; i++) {\n    if (msg.values[i] !== 0) {\n        msg.count_answer++;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["45848294.b4d014"]]},{"id":"90b480eb.080028","type":"comment","z":"2a511e38.822da2","name":"全部のマスが埋まるまでぐるぐる","info":"","x":390,"y":80,"wires":[]},{"id":"4a09f4bd.fc8bbc","type":"comment","z":"2a511e38.822da2","name":"1行目から3行目までぐるぐる","info":"","x":200,"y":360,"wires":[]},{"id":"7b40fbc.a9fab84","type":"comment","z":"2a511e38.822da2","name":"1列目から3列目までぐるぐる","info":"","x":200,"y":580,"wires":[]},{"id":"d4b9bbcc.016d78","type":"comment","z":"2a511e38.822da2","name":"1マス目から9マス目までぐるぐる","info":"","x":220,"y":700,"wires":[]}]